@import url('https://fonts.googleapis.com/css?family=Oswald');
html {
    font-family: 'Oswald', sans-serif;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.title {
    column-count: 2;
}

.title h1 {
    margin: 0px;
    font-size: 3em
}

h2 {
    margin: 0px;
}

a:link {
    color: black;
    font-style: italic;
}


/* visited link */

a:visited {
    color: #e91d63;
    font-style: italic;
}


/* mouse over link */

a:hover {
    color: #e91d63;
    font-style: italic;
}


/* selected link */

a:active {
    color: blue;
    font-style: italic;
}

.title.left-block {
    width: 50%;
    margin-top: 0px;

}

.right_block {
    width: 50%;
    margin-top: 25px;
    padding-top: 25
}

div.left-block ul {
    list-style-type: none;
}

div.right-block ul {
    list-style-type: none;
}

body {
    background: white;
}

div.resumeBody h1 {
    text-decoration: underline solid black;
}

div.resumeBody h2 {
    margin-left: 4%;
}

div.entryTitle {
    column-count: 3;
}

div.entryTitle h2 {}

div.entryOne {
    column-width: 33%;
    color: #e91d63;
}

div.entryTwo {
    column-width: 33%;
}

div.entryThree {
    column-width: 33%;
}

div.entryBody {
    margin-left: 2%;
}

div.Education {}

div.subtitle {
    column-count: 3;
    margin-left: 5%;
    font-style: italic;
}

div.subtitle.subEntryLeft {
    column-width: 33%;
}

div.subEntryMid {
    column-width: 33%;
}

div.subEntryRight {
    column-width: 33%;
}

div.Projects {
    column-width: 50%;
}

div.Education {
    column-width: 50%;
}

.certOneEntry {
    column-count: 2;
}

.mil_col_left{
    color: #e91d63;
}

div.two_col h2 {
    margin-left: 4%;
}

.cert{
    color: #e91d63;
}



